.sliderContainer{
    position: relative;
    background: linear-gradient(to right, rgba(0, 128, 0, 0) 10%, green 50%, rgba(0, 128, 0, 0) 90%, rgba(0, 128, 0, 0) 100%);
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel{
    background-color: black;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0;
    /* border: 2px solid red; */
    padding: 10px 0 30px 0;
}
.item{
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.textesContainer{
    font-size: larger;
    display: flex;
    flex-direction: column;
}
.textesContainer a{
    color: rgb(190, 187, 187);
}
.textesContainer a:visited{
    color: green;
}
/* .carousel .thumbs{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: calc(50% - 75px);
    /* border: 2px solid green; 
}
.carousel .thumb{
    height: 20px;
    cursor: pointer;
} */
@media  screen and (max-width: 1350px) {
    .carousel .slider-wrapper{
        width: 500px !important;
        transition: all 0.4s ease-in-out;
    }
    .carousel{
        padding-block: 25px;

    }
}
@media  screen and (max-width: 1150px) {
    .carousel .slider-wrapper{
        width: 300px !important;
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 920px) {
    .carousel .slider-wrapper{
        width: 100% !important;
        transition: all 0.4s ease-in-out;
    }
  }