.footerContainer{
    background: linear-gradient(to right, rgba(0, 128, 0, 0), green, rgba(0, 128, 0, 0));
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents{
    background-color: black;
    border-radius: 10px;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.CV{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.514);
    /* border: 2px solid red; */
}
.cvLink{
    max-height: 40px;
    max-width: 40px;
    border-radius: 30px;
    /* border: 2px solid red; */
}
.cvLink img{
    width: 100%;
}