  .app{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(27, 27, 27);
    overflow: auto;
    /* overflow-x: hidden; */
  }
  .sideBar{
    position: fixed;
    top: 5%;
    left: 30px;
    height: 90%;
    z-index: 22;
    overflow: hidden;
    /* border: 1px solid red; */
  }
  .photoContainer{
    position: fixed;
    top: 2%;
    left: 100px;
    height: 95%;
    width: 500px;
    min-height: 600px;
    overflow: hidden;
    /* border: 1px solid red; */
  }
  .partiePrincipaleContainer{
    position: fixed;
    top: 5%;
    left: 600px;
    height: 90%;
    margin-right: 30px;
    /* border: 1px solid red; */
  }

  @media screen and (max-width: 920px) {
    .app{
      /* top: 50px; */
      /* top: 0px; */
    }
    .sideBar{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      z-index: 999999;
    }
    .photoContainer{
      position: relative;
      width: calc(100% - 20px);
      max-width: 600px;
      height: 98%;
      left: 0;
      margin: auto;
      top: 15px;
    }
    .partiePrincipaleContainer{
      position: relative;
      width: calc(100% - 20px);
      left: 10px;
      top: 30px;
      height: auto;
      overflow: hidden;
    }
  }