
.partiePrincipaleContainer{
  overflow: auto;
}
::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  /* border: 2px solid rgb(1, 56, 1); */
}
::-webkit-scrollbar-thumb{
background-color: rgb(0, 78, 0);
border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
background-color: green;
}

.partiePrincipale{
    position: relative;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .titrePartiePrincipale{
    padding-block: 20px;
    background: none;
    font-size: 50px;
  }
  .sous-titre{
    background: none;
    color: green;
    display: flex;
    gap: 10px;
  }
  .sous-titre>*{
    background: none;
  }
  .slush{
    color: gray;
  }
  .description{
    background: none;
    font-weight: lighter;
    text-align: justify;
  }
  .styleSousTitre{
    padding-block: 20px;
    background: none;
    margin-top: 40px;
  }
  .boxContainer{
    background: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }
  .boxes{
    background: none;
    width: 40%;
    min-width: 235px;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* border: 2px solid red; */
  }
  .boxes >*{
    background: none;
  }
  .boxes ul{
    flex-direction: column;
  }
  .boxes ul>*{
    background: none;
  }
  .boxes:nth-child(1) ul{
    flex-direction: row;
  }
  .boxes:hover{
    box-shadow: 0 0 30px black;
  }
  .img-dev{
    background: none;
    height: 25px;
    width: 30px;
    margin-bottom: 10px;
  }
  .langue{
    background: green;
    border-radius: 50%;
  }
  .liste{
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    margin-left: 30px;
    column-gap: 20px;
  }
  .listeDev > *{
    background: none;
    width: 100px;
  }

  @media screen and (max-width: 920px) {
    .partiePrincipaleContainer{
      position: absolute;
      width: calc(100% - 20px);
      left: 10px;
      top: 400px;
    }
  }
