.contactContainer{
    background: linear-gradient(to right, rgba(0, 128, 0, 0), green, rgba(0, 128, 0, 0));
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    background-color: black;
    border-radius: 10px;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

form button{
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid green;
    box-shadow: 0 0 10px 0.1px green;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.822);
}
.contactContainer button:hover{
    cursor: pointer;
    background-color: white;
}
textarea, input{
    height: fit-content;
    max-width: 270px;
    min-width: 270px;
    padding: 4px 7px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid green;
    box-shadow: 0 0 10px 0.1px green;
    border-radius: 5px;
}
.contactLabel{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
    background: none;
    z-index: 12;
    position: relative;
}
.contactLabel::after{
    content: "";
    position: absolute;
    left: -65px;
    bottom: -5px;
    width: 200px;
    height: 2px;
    z-index: -12;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 3%, green, rgba(255, 255, 255, 0));
}