
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sideBar{
    position: relative;
    width: 70px;
    background-color: rgb(10, 10, 10);
    border-radius: 15px 0 0 15px;
  }
  .toggle{
    position: absolute;
    background-color: rgb(0, 121, 0);
    height: 50px;
    width: 50px;
    left: 10px;
    top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    padding: 0;
  }
  .toggle li{
    list-style: none;
    width: 50%;
    height: 2px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: black;
    pointer-events: none;
  }
  .toggle.active{
    transform: rotate(180deg);
    background-color: rgb(94, 196, 94);
    box-shadow: 0 0 20px rgb(155, 216, 155);
  }
  .first.active{
    position: absolute;
    width: 70%;
    height: 2px;
    border: 1.5px solid rgb(3, 54, 1);
    border-radius: 30px;
    background-color: rgb(3, 54, 1);
    transform: rotate(135deg);
    transition: all 0.7s ease-in-out;
    
  }
  .second.active{
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .third.active{
    position: absolute;
    width: 70%;
    height: 2px;
    border: 1.5px solid rgb(3, 54, 1);
    border-radius: 30px;
    background-color: rgb(3, 54, 1);
    transform: rotate(-135deg);
    transition: all 0.7s ease-in-out;
  }
  .toggle:hover{
    box-shadow: 0 0 20px green;
    cursor: pointer;
  }
  .elements_sideBar{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 60px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
    background: none;
    /* border: 1px solid red; */
  }
  .elements_sideBar>*{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    left: 15px;
    transition: all 0.5s linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    opacity: 0;
    /* border: 2px solid green; */
  }
  .elements_sideBar>*>*{
    width: 100%;
    height: 100%;
  }
  .element1.active, .element2.active, .element3.active, .element4.active{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    opacity: 1;
  }
  .element1.active{
    transition: transform 2s ease-in-out;
    transform: translateY(650%) rotate(720deg);
  }
  .element2.active{
    transition: transform 1.7s ease-in-out;
    transform: translateY(850%) rotate(720deg);
  }
  .element3.active{
    transition: transform 1.5s ease-in-out;
    transform: translateY(1050%) rotate(720deg);
  }
  .element4.active{
    transition: transform 1.3s ease-in-out;
    transform: translateY(1250%) rotate(720deg);
  }
  .elements_sideBar> * img{
    mix-blend-mode: multiply;
    height: 40px;
    max-width: 40px;
    background-color: white;
  }
  .elements_sideBar>*:hover{
    cursor: pointer;
    background-color: green;
    box-shadow: 0 0 10px rgb(0, 248, 54);
  }

  @media screen and (max-width: 920px) {
    .sideBar{
      border-radius: 0;
    }
    .toggle{
      top: 2px;
    }
    .elements_sideBar{
      width: calc(90% - 65px);
      left: calc(2% + 65px);
      top: 0;
      height: 100%;
    }
    .elements_sideBar>*{
      position: absolute;
      top: 5px;
      left: -15px;
    }
    .element1.active{
      transition: transform 2s ease-in-out;
      transform: translateX(100%) rotate(720deg);
    }
    .element2.active{
      transition: transform 1.7s ease-in-out;
      transform: translateX(250%) rotate(720deg);
    }
    .element3.active{
      transition: transform 1.5s ease-in-out;
      transform: translateX(400%) rotate(720deg);
    }
    .element4.active{
      transition: transform 1.3s ease-in-out;
      transform: translateX(550%) rotate(720deg);
    }
  }