.photoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image:linear-gradient(to bottom, rgb(10, 10, 10) 90%, black);
}
.photoContainer::after{
  position: absolute;
  content: '';
  background-image: linear-gradient(to top left, transparent, rgb(10, 10, 10) 85%, rgb(14, 160, 46));
  height: 100%;
  width: 500px;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: 2;
  animation: tournePage 10s infinite linear;
}
@keyframes tournePage{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
}
.content{
  position: relative;
  background-image: linear-gradient(to top, black, rgb(20, 20, 20));
  z-index: 5;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
}
.content::after{
  position: absolute;
  content: '';
  background: linear-gradient(to top, rgb(0, 0, 0) 5%, transparent);
  z-index: -99;
  width: 100%;
  height: 100%;
}

.photo_ehsan{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0px;
  border: none;
  z-index: -999;
}
.texteContainer{
  /* border: 2px solid rgb(255, 0, 0); */
  position: relative;
  margin-bottom: 30px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  pointer-events: none;
}
.texteContainer >* {
  color: white;
  font-family: font-1, 'Times New Roman', Times, serif;
  font-size: 50px;
  background: none;
}
.name::before{
  content: 'Mohammad Ehsan';
  position: absolute;
  color: #138d0f;
  animation: animate 4s ease-in-out infinite;
}
.last_name::before{
  content: 'BAYAT';
  position: absolute;
  color: #138d0f;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100%{
    clip-path: polygon(0% 45%, 16% 34%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
  
}
.texteLabel{
  margin-top: 20px;
  color: #085e04;
  font-size: 40px;
}
.socialMedia_container{
  /* border: 2px solid rgb(47, 0, 255); */
  height: 170px;
  width: 290px;
  border-radius: 170px 170px 0 0;
  overflow: hidden;
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.socialMedia{
  border: 2px solid #032401;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 55;
  /* border: 2px solid red; */
}
.socialMedia.active{
  border: 2px solid #032401;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  bottom: -17.5px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 55;
  box-shadow: 0 0 0 60px white;
  transition: all 0.09s linear;
  /* border: 2px solid red; */
}
.image{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: none;
  /* border: 2px solid red; */
}
.btn-mediaContainer{
  /* border: 2px solid red; */
  display: flex;
  height: 130px;
  width: 220px;
  position: absolute;
  translate: (-50% -50%);
  /* left: 33px; */
  /* bottom: 5px; */
  justify-content: center;
  align-items: center;
  border-radius: 170px 170px 0 0;
  background: none;
}
.btn-mediaContainer li{
  list-style: none;
  position: absolute;
  opacity: 0;
  /* border: 2px solid rgb(248, 3, 3); */
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -11;
  background: none;
}
.btn-mediaContainer li a{
  background: none;
  border-radius: 50%;
}
.linkedIn.active{
  position: absolute;
  top: 85px;
  left: 5px;
  opacity: 1;
  transition: all 0.3s linear;
  z-index: 111;
}
.linkedIn:hover{
  box-shadow: 0 0 0 10px rgb(2, 2, 2);
  top: 75px;
  left: -10px;
  height: 55px;
  width: 55px;
  background-color: #068100;
  transition: none;
  transform: scale(1);
}
.facebook.active{
  position: absolute;
  top: 30px;
  left: 25px;
  opacity: 1;
  transition: all 0.4s linear;
  z-index: 111;
}
.facebook:hover{
  box-shadow: 0 0 0 10px rgb(2, 2, 2);
  height: 55px;
  width: 55px;
  top: 12px;
  left: 15px;
  background-color: #068100;
  transition: none;
  transform: scale(1.1);
}
.instagram.active{
  position: absolute;
  top: 0px;
  left: 85px;
  opacity: 1;
  z-index: 111;
  transition: all 0.5s linear;
}
.instagram:hover{
  box-shadow: 0 0 0 10px rgb(2, 2, 2);
  height: 55px;
  width: 55px;
  top: -15px;
  left: 80px;
  background-color: #068100;
  transition: none;
  transform: scale(1.1);
}
.gmail.active{
  position: absolute;
  top: 25px;
  right: 27px;
  opacity: 1;
  z-index: 111;
  transition: all 0.6s linear;
}
.gmail:hover{
  box-shadow: 0 0 0 10px rgb(2, 2, 2);
  height: 55px;
  width: 55px;
  top: 12px;
  right: 15px;
  background-color: #068100;
  transition: none;
  transform: scale(1.1);
}
.gitlab.active{
  position: absolute;
  top: 85px;
  right: 5px;
  opacity: 1;
  z-index: 111;
  transition: all 0.7s linear;
}
.gitlab:hover{
  box-shadow: 0 0 0 10px rgb(2, 2, 2);
  top: 75px;
  right: -10px;
  height: 55px;
  width: 55px;
  background-color: #068100;
  transition: none;
  transform: scale(1);
  
}
.media{
  background: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  /* mix-blend-mode: multiply; */
}
.image:hover{
  box-shadow: 0 0 20px green;
  cursor: pointer;
}
@media  screen and (max-width:920px) {
  .content{
    min-height: 600px;
  }
  .texteContainer{
    margin-bottom: -10px;
  }
}